.layout-style{
    margin-top: 30%;
    background-color: #f7f7f9;
    height:200px;
    width:300px
}
.cate-head{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    font-size: large;
    font-weight: bold;
   
}
.ant-select .ant-select-single .ant-select-show-arrow{
    width:220px
}